---

title: 'To top'
id: 'icon-up'
 
---

<a id="backToTop" class="button back-to-top overlay fade hide" href="/">
	<svg role="img" title="{{back_to_top.title}}" viewBox="0 0 64 64" class="icon">
		<use xlink:href="assets/icon-spritemap.svg#{{back_to_top.id}}"></use>
	</svg>	
	<span>{{back_to_top.title}}</span>
</a>
