---

title: 'Go to top of page'
id: 'icon-up'
 
---

<a id="backToTop" class="button back-to-top overlay fade hide" href="/" role="button">
	<svg role="img" title="{{back_to_top.title}}" viewBox="0 0 64 64" class="icon">
		<use xlink:href="assets/icon-spritemap.svg#{{back_to_top.id}}"></use>
	</svg>
	<span>Top</span>
</a>
