---

listItem:
  - { url: 'https://www.facebook.com/asmadai', name: 'Facebook', id: 'icon-facebook', group: 'b' }
  - { url: 'https://twitter.com/johnharrigan', name: 'Twitter', id: 'icon-twitter', group: 'b'}
  - { url: 'https://vimeo.com/johnharrigan', name: 'Vimeo', id: 'icon-vimeo', group: 'b' }
  - { url: 'http://www.harrigan.co/', name: 'Tumblr', id: 'icon-tumblr', group: 'b' }
  - { url: 'https://uk.linkedin.com/in/johnlharrigan', name: 'LinkedIn', id: 'icon-linkedin', group: 'b' }
  - { url: 'https://plus.google.com/+JohnHarrigan/posts', name: 'Google+', id: 'icon-googleplus', group: 'b'}
  - { url: 'https://instagram.com/johnharrigan/?hl=en', name: 'Instagram', id: 'icon-instagram', group: 'b' }

---

			<footer class="footer" role ="contentinfo">
				<nav class="social-no-svg" role="navigation">
					<ul class="no-bullet">
					{{#each footer.listItem}}
						{{>list_item}}
					{{/each}}
					</ul>
				</nav>
				{{> nav_social}}
				<p>&copy; <span class="current-year"></span> John Harrigan. Creative Commons license. Web design and development by <a href="http://www.reneewall.com/">Renee Wall</a>.</p>
			</footer>
 		</div>
 	</body>
</html>