---

listItem:
  - { name: 'Contact', url: 'https://uk.linkedin.com/in/johnlharrigan' }
  - { name: 'R&eacute;sum&eacute;', url: 'assets/CV_JH.pdf' }
  - { name: 'FoolishPeople', url: 'http://www.foolishpeople.com/' }

---

<div class="header-page">
    <nav role="navigation">
        <ul class="no-bullet">
        {{#each header.listItem}}
            {{>list_item}}
        {{/each}}
        </ul>
    </nav>
    <header class="page-gutter">
        <h1 class="header-section">
          <a class="h1-link" href="/">John <strong>Harrigan</strong><span class="visually-hidden">Top of page link to Home</span></a>
        </h1>
        <h2>Art on the inside, blood on the outside.</h2>
    </header>
</div>