<nav class="social" role="navigation">
	<ul class="no-bullet">
	{{#each social}}
		<li style="display:inline-block;width:3%;">
			<a href="{{{url}}}">
				<svg role="img" title="{{title}}" viewBox="0 0 64 64" class="icon">
					<use xlink:href="{{filePath}}assets/icon-spritemap.svg#{{id}}"></use>
				</svg>	
			</a>
		</li>
	{{/each}}
	</ul>
</nav>	
