<ul class="slideshow no-bullet" role="banner">
    {{#each slide}}
    <li>
        <figure class="slideshow-item">
        	{{!-- to do: srcset --}}
            <img src="assets/{{filename}}" alt="{{alt}}"/>
            <figcaption>{{caption}}</figcaption>
        </figure>
    </li>
    {{/each}}
</ul>
