<div class="tile">
	<figure>
	    <figcaption class="overlay truncate">{{title}}</figcaption>
	    {{!-- more accessible than a wrapping anchor tag --}}
	    <a title="Learn more about the {{title}} project" href="{{url}}"></a>
    </figure>
</div>
