<div class="tile one-up two-up three-up">
	<figure>
	    <figcaption class="overlay truncate">{{caption}}</figcaption>
	    {{!-- more accessible than a wrapping anchor tag --}}
	    <a title="Go to the page about {{title}}" href="{{url}}"></a>
    </figure>
</div>
