@import 'variables.less';
@import 'utils.less';

*, *:before, *:after {
    box-sizing: inherit;
}
* + * {
    margin-top: @defaultSpacing;
}
html {
    overflow-y: scroll;
    height: 100%;
    font-size: 14px;
    box-sizing: border-box;
}
body {
    font-family: Roboto, HelveticaNeue, Calibri, Arial, sans-serif;
    background: @grey50;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary {
    display: block;
}
figure {
    background: no-repeat 50% 50%;
    background-position: center;
}
img {
    vertical-align: middle;
    height: auto;
    width: 100%;
}
ul, figure, p {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
    transition: color 0.24s ease;
}

.header-section {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1;
    color: @grey900;
    strong {
        font-weight: 900;
    }
}
.header-page {
    * {
        margin-top: 0;
    }
    padding-top: (@defaultSpacing)/2;
    padding-bottom: (@defaultSpacing)/2;
    font-size: .9rem;
    color: @grey900;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .header {
        flex: 1 auto;
    }
    nav {
        display: none;
        flex: 1 auto;
        text-align: right;
        li {
            display: inline-block;
            margin-left: (@defaultSpacing)/2;
            a {
                &:link, &:visited {
                    color: @grey900;
                }
                //to do: add no touch to html
                &:hover, &:focus, &:active {
                    color: @accent;
                }
            }
        }
    }
    h1 {
        line-height: 1;
        font-size: 2em;
    }
    h2 {
        line-height: 1;
        font-size: 1em;
    }
}

.slideshow {
    font-size: 1rem;
    position: relative;
    background: @grey900;
    padding-top: 44.42%;
}
.slideshow:before {
    content: url('../assets/fp_logo_nav.jpg');
    position: absolute;
    top: (@defaultSpacing)/2;
    left: (@defaultSpacing)/2;
    z-index: 1;
}
.slideshow-item img {
    -webkit-backface-visibility: hidden;
    animation: animateImage 24s linear infinite 0s; 
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 0;
}
.slideshow-item figcaption {
    animation: animateCaption 24s linear infinite 0s; 
    color: @grey50;
    position: absolute;
    left: 0;
    bottom: (@defaultSpacing)/3;
    opacity: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    font-size: 2em;
    text-shadow: 0 1px 2px @grey700;
}
.slideshow li:nth-child(2) img {
    animation-delay: 4s; 
}
.slideshow li:nth-child(3) img {
    animation-delay: 8s; 
}
.slideshow li:nth-child(4) img {
    animation-delay: 12s; 
}
.slideshow li:nth-child(5) img {
    animation-delay: 16s; 
}
.slideshow li:nth-child(6) img {
    animation-delay: 20s; 
}
.slideshow li:nth-child(2) figcaption {
    animation-delay: 4s; 
}
.slideshow li:nth-child(3) figcaption {
    animation-delay: 8s; 
}
.slideshow li:nth-child(4) figcaption {
    animation-delay: 12s; 
}
.slideshow li:nth-child(5) figcaption {
    animation-delay: 16s; 
}
.slideshow li:nth-child(6) figcaption {
    animation-delay: 20s; 
}
@keyframes animateImage { 
    0% { opacity: 0 }
    4% { opacity: 1 }
    16% { opacity: 1 }
    20% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes animateCaption { 
    1% { opacity: 0 }
    5% { opacity: .75 }
    17% { opacity: .75 }
    21% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations .slideshow-item img {
    opacity: 1;
}

.tile-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: (@defaultSpacing)/2;
}
.tile {
    font-size: .85rem;
    position: relative;
    flex: 1 auto;
    width: 100%;
    margin-top: (@defaultSpacing)/2;
    border-radius: 4px;
    overflow: hidden;
    figure {
        position: relative;
    }
    figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: @grey900;
        background: rgba(0, 0, 0, 0.75);
        color: @grey50;
        text-align: center;
        text-transform: uppercase;
        padding: (@defaultSpacing)/2;
        font-size: 1em;

    }
    a {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.about {
    font-size: 1rem;
    display: flex;
    background: @grey900;
    .header-section {
        color: @grey50;
    }
}
.about-image {
    width: 30%;
}
.about-bio {
    padding: 0 @defaultSpacing @defaultSpacing @defaultSpacing;
    width: 70%;
    color: @grey50;
    .header-section {
        color: @grey50;
        & + p {
            margin-top: (@defaultSpacing)/2;
        }
    }
}

.chronology {
    ul {
        width: @threeCol;
        float: left;
    }
}

// .icon {
//     padding: .5px;
//     height: 100%;
//     fill: @grey900;
//     vertical-align: bottom;
// }

 // .social {
    //     display: none;
    //     flex: 1 auto;
    //     text-align: right;
    //     ul {
    //         li, a {
    //             width: 100%;
    //             display: inline-block;
    //         }
    //         li {
    //             max-width: @defaultSpacing;
    //             margin-left: (@defaultSpacing)/2;
    //         }
    //     }
    // }

.footer {
    font-size: .75rem;
    background: @grey;
    padding: @defaultSpacing 0;
    ul li {
        display: inline-block;
    }
}

@media (min-width: @minMobile) {
   .header-page nav {
        display: block;
        li:nth-child(3), li:last-child {
            display: none;
        }
    }
    .tile {
        width: 49%; // needed for safari
        max-width: 49%;
    }
}

@media (min-width: @minTablet) {
    html {
        font-size: 15px;
    }
    .header-page nav {
        li:nth-child(3), li:last-child {
            display: inline-block;
        }
    }
    .slideshow-item figcaption {
        font-size: 3.5em;
    }
    .tile {
        width: 32.33%; // needed for safari
        max-width: 32.33%;
    }
}

@media (min-width: @minDesktop) {
    html {
        font-size: 16px;
    }
    .slideshow-item figcaption {
        font-size: 5em;
    }
}