@import 'variables.less';
@import 'utils.less';

/* ==========================================================================
   Global elements
   ========================================================================== */
*, *:before, *:after {
    box-sizing: inherit;
}
* + * {
    margin-top: @defaultSpacing;
}
html {
    font-size: @baseFont - 2;
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
    background: @grey50;
    color: @grey900;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary {
    display: block;
}
img {
    vertical-align: middle;
    height: auto;
    width: 100%;
}
ul, figure {
    .no-spacing();
}
h1, h2, h3, h4, h5, h6 {
    .no-spacing();
    line-height: 1.3;
    font-weight: normal;
}
li {
    line-height: 1.3;
}
p {
    line-height: 1.5;
}
a {
    text-decoration: none;
    transition: color 0.24s ease;
    &:link, &:visited {
        color: @red;
    }
}
.no-touch a {
    &:hover, &:focus, &:active {
        color: @grey900;
    }
}

/* ==========================================================================
   Header
   ========================================================================== */
.header-section {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.5em;
    strong {
        font-weight: 900;
    }
}
.subheader-section {
    text-transform: uppercase;
    font-weight: 100;
}
.header-page {
    * {
        margin-top: 0;
    }
    font-size: .9rem;
    nav {
        border-bottom: @defaultBorderWidth solid @red;
        padding: @defaultSpacing / 1.25 @defaultSpacing @defaultSpacing / 2;
        li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: @defaultSpacing;
            }
        }
    }
    header {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-top: @defaultSpacing / 1.6;
    }
    h1 {
        flex: 1 auto;
        font-size: 2em;
        padding-right: @defaultSpacing * 2;
        a:link, a:visited {
            color: @grey900;
        }
    }
    h2 {
        flex: 1 auto;
        font-size: 1em;
    }
}
.no-touch .header-page h1 a {
    &:hover, &:focus, &:active {
        color: @red;
    }
}
.project-content .subheader-section {
    margin-top: @defaultSpacing / 3;
}

/* ==========================================================================
   Slideshow & Hero
   ========================================================================== */

/* Shared classes
   ========================================================================== */
.banner-image {
    position: relative;
    margin-top: @defaultSpacing / 1.4;
}
.no-svg .icon-watermark, .icon-watermark {
    display: none;
}
.box {
    border-radius: @defaultBorderRadius;
    padding: @defaultSpacing;
    & :first-child {
        margin-top: 0;
    }
    & :last-child {
        margin-bottom: 0;
    }
}
.box-medium {
    background: @grey300;
}
.box-dark {
    background: @grey900;
}

/* Slideshow only
   ========================================================================== */
.slideshow {
    font-size: 1.4rem;
    position: relative;
    background: @grey900;
    padding-top: 44.42%;
}
.slideshow-item img {
    -webkit-backface-visibility: hidden;
    animation: animateImage 24s linear infinite 0s; 
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 0;
}
.slideshow-item figcaption {
    animation: animateCaption 24s linear infinite 0s; 
    color: #fff;
    position: absolute;
    left: 0;
    bottom: @defaultSpacing * 1.4;
    opacity: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    font-size: 1.4em;
    text-shadow: 0 1px 2px @grey700;
}
.slideshow li:nth-child(2) img {
    animation-delay: 4s; 
}
.slideshow li:nth-child(3) img {
    animation-delay: 8s; 
}
.slideshow li:nth-child(4) img {
    animation-delay: 12s; 
}
.slideshow li:nth-child(5) img {
    animation-delay: 16s; 
}
.slideshow li:nth-child(6) img {
    animation-delay: 20s; 
}
.slideshow li:nth-child(2) figcaption {
    animation-delay: 4s; 
}
.slideshow li:nth-child(3) figcaption {
    animation-delay: 8s; 
}
.slideshow li:nth-child(4) figcaption {
    animation-delay: 12s; 
}
.slideshow li:nth-child(5) figcaption {
    animation-delay: 16s; 
}
.slideshow li:nth-child(6) figcaption {
    animation-delay: 20s; 
}
@keyframes animateImage { 
    0% { opacity: 0 }
    4% { opacity: 1 }
    16% { opacity: 1 }
    20% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes animateCaption { 
    1% { opacity: 0 }
    5% { opacity: .75 }
    17% { opacity: .75 }
    21% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations .slideshow-item img {
    opacity: 1;
}

/* ==========================================================================
   Tiles
   ========================================================================== */
.tile-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 0;
}
.tile {
    .two-up;
    font-size: .9rem;
    position: relative;
    margin-top: @defaultSpacing;
    border-radius: @defaultBorderRadius;
    figure {
        display: flex;
        flex-flow: column wrap;
        align-items: stretch;
        background-color: @red;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 100%;
        background-blend-mode: normal;
        border-radius: @defaultBorderRadius;
    }
    figcaption {
        flex: 1 0 auto;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: @grey100;
        text-align: center;
        text-transform: uppercase;
        padding: @defaultSpacing / 2;
        font-size: .8em;
        border-radius: 0 0 @defaultBorderRadius @defaultBorderRadius;
    }
    a {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
}
.tile:first-child figure {
    background-image: url('../assets/jh_projects_01.jpg');
}
.tile:nth-child(2) figure {
    background-image: url('../assets/jh_projects_02.jpg');
}
.tile:nth-child(3) figure {
    background-image: url('../assets/jh_projects_03.jpg');
}
.tile:nth-child(4) figure {
    background-image: url('../assets/jh_projects_04.jpg');
}
.tile:nth-child(5) figure {
    background-image: url('../assets/jh_projects_05.jpg');
}
.tile:last-child figure {
    background-image: url('../assets/jh_projects_06.jpg');
}
.no-touch .tile:hover {
    figure {
        background-blend-mode: multiply;
    }
    figcaption {
        color: @red300;
    }
}

/* ==========================================================================
   About
   ========================================================================== */
.about {
    font-size: 1rem;
    display: flex;
    background: @grey900;
    color: @grey100;  
}
.about-image {
    display: none;
}
.about-bio {
    padding: 0 @defaultSpacing;
    width: 100%;
    a:link, a:visited {
        color: @red400;
    }
}
.no-touch .about-bio a {
    &:hover, &:focus, &:active {
        color: @red200;
    }
}

/* ==========================================================================
   Toggles
   ========================================================================== */
   // need to style color of spans?
.toggle-trigger {
    .moreText {
        display: inline;
    }
    .lessText {
        display: none;
    }
    &.open {
        .moreText {
            display: none;
        }
        .lessText {
            display: inline;
        }
    }
}
.toggle-pane {
    display: none;
    &.open {
        display: block;
    }
}

/* ==========================================================================
   Chronology
   ========================================================================== */
.chronology {
    font-size: 1rem;
    background: url('../assets/jh_chronology.jpg') no-repeat 100% 92% @red;
    background-size: cover;
    background-blend-mode: multiply;
}
.chronology-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    a {
        margin-top: 0;
        text-align: right;
    }
}
.chronology-list {
    h4 {
        font-size: 1em;
        color: @grey50;
    }
    ul {
        margin-top: @defaultSpacing;
        li {
            color: @grey300;
        }
    }
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.button {
    padding: @defaultSpacing / 1.5;
    display: inline-block;
    text-align: center;
    font-size: .8rem;
    span {
        display: inline-block;
        font-size: .8em;
        text-transform: uppercase;
        color: @grey300;
        margin-top: @defaultSpacing / 1.5;
    }
}
.back-to-top {
    z-index: 2; 
    position: fixed;
    right: 0;
    bottom: 4%;
    border-radius: @defaultBorderRadius 0 0 @defaultBorderRadius;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    .icon {
        transition: none;
        display: block;
        width: @defaultSpacing * 2;
        height: @defaultSpacing * 2; // height is needed for IE10/11
        margin: 0 auto;
        fill: @grey300;
    }
    span {
        margin-top: @defaultSpacing / 2;
    }
}
.no-touch .back-to-top:hover {
    span {
        color: #fff;
    }
    .icon {
        fill: #fff;
    }
}

/* ==========================================================================
   Video
   ========================================================================== */
.video figcaption {
    text-align: center;
}
.video-inner {
    background: @grey900;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    border-radius: @defaultBorderRadius;
    iframe {
        border-radius: @defaultBorderRadius;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
    text-align: center;
    border-top: @defaultBorderWidth solid @grey700;
    font-size: .8rem;
    padding: 0 @defaultSpacing @defaultSpacing/2 @defaultSpacing;
    nav, p {
        margin-top: 0;
    }
    ul li {
        display: inline-block;
        margin: @defaultSpacing @defaultSpacing/2.25 @defaultSpacing/1.5 @defaultSpacing/2.25;
    }
}

/* ==========================================================================
   Icons
   ========================================================================== */
.icon {
    transition: fill 0.24s ease;
    height: 100%;
    fill: @grey700;
    vertical-align: bottom;
}
.no-touch .icon:hover {
    fill: @grey900;
}
.svg {
    .social {
        display: block;
        ul li, ul li a {
            width: @defaultSpacing * 2;
        }
        .icon {
            height: @defaultSpacing * 2; // needed for IE10/11
        }
    }
    .social-no-svg {
        display: none;
    }
}
.no-svg {
    .social, .back-to-top .icon {
        display: none;
    }
    .social-no-svg {
        display: block;
    }
}

/* ==========================================================================
   Media queries
   ========================================================================== */
@media only screen and (min-width: @minSmallTablet) {
    .slideshow-item figcaption {
        bottom: @defaultSpacing * 2.4;
        font-size: 2.4em;
    }
    .header-page h2 {
        text-align: right;
    }
    .banner-image {
        margin-top: @defaultSpacing / 2;
    }
    .icon-watermark {
        display: block;
        height: @defaultSpacing * 4; // needed for IE10/11
        width: @defaultSpacing * 4;
        position: absolute;
        bottom: @defaultSpacing / 1.35;
        right: @defaultSpacing;
        fill: @grey700;
        fill: rgba(255,255,255,.25);
        z-index: 1;
        vertical-align: bottom;
    }
    .tile figcaption {
        padding: @defaultSpacing;
    }
}

@media only screen and (min-width: @minTablet) {
    html {
        font-size: @baseFont - 1;
    }
    .slideshow-item figcaption {
        font-size: 3.4em;
        bottom: @defaultSpacing * 3.4;
    }
    .about-image {
        width: 33%;
        display: block;
        background: url('../assets/jh_bio_bw.jpg') no-repeat center @grey900;   
        background-size: cover;
    }
    .about-bio {
        width: 67%;
    }
    .tile {
        .three-up;
    }
}

@media only screen and (min-width: @minDesktop) {
    html {
        font-size: @baseFont;
    }
    .slideshow-item figcaption {
        bottom: @defaultSpacing * 4.4;
        font-size: 4.4em;
    }
}