---
title: 'Index title'
header: 'John'
headerStrong: 'Harrigan'
socialIcons:
  - url: 'https://www.facebook.com/asmadai'
    title: 'Facebook'
    id: 'icon-facebook'
  - url: 'https://twitter.com/johnharrigan'
    title: 'Twitter'
    id: 'icon-twitter'
  - url: 'https://vimeo.com/johnharrigan'
    title: 'Vimeo'
    id: 'icon-vimeo'
  - url: 'http://www.harrigan.co/'
    title: 'Tumblr'
    id: 'icon-tumblr'
  - url: 'https://uk.linkedin.com/in/johnlharrigan'
    title: 'LinkedIn'
    id: 'icon-linkedin'
  - url: 'https://plus.google.com/+JohnHarrigan/posts'
    title: 'Google+'
    id: 'icon-googleplus'
  - url: 'https://instagram.com/johnharrigan/?hl=en'
    title: 'Instagram'
    id: 'icon-instagram'
---

{{> head}}
{{> nav}}
{{> hero}}
<p>I am the home page</p>
{{> footer}}
 