---

pageTitle: 'John Harrigan'
pageUrl: 'http://www.johnharrigan.com/'
pageDesc: 'John Harrigan is writer, director, artist, and the founder of FoolishPeople.'
slide:
  - { small: 'jh_hero_01_s.jpg', medium: 'jh_hero_01_m.jpg', large: 'jh_hero_01_l.jpg', alt: 'John sitting on steps', caption: 'truth' }
  - { small: 'jh_hero_02_s.jpg', medium: 'jh_hero_02_m.jpg', large: 'jh_hero_02_l.jpg', alt: 'John gesturing', caption: 'magick' }
  - { small: 'jh_hero_03_s.jpg', medium: 'jh_hero_03_m.jpg', large: 'jh_hero_03_l.jpg', alt: 'John pointing', caption: 'art' }
  - { small: 'jh_hero_04_s.jpg', medium: 'jh_hero_04_m.jpg', large: 'jh_hero_04_l.jpg', alt: 'John and Lucy running', caption: 'journey' }
  - { small: 'jh_hero_05_s.jpg', medium: 'jh_hero_05_m.jpg', large: 'jh_hero_05_l.jpg', alt: 'John in theatrical makeup', caption: 'sincerity' }
  - { small: 'jh_hero_06_s.jpg', medium: 'jh_hero_06_m.jpg', large: 'jh_hero_06_l.jpg', alt: 'John on stage', caption: 'passion' }
tile:
  - { caption: 'The Woods Trapped at the Edge of Midnight', url: 'the-woods-trapped-at-the-edge-of-midnight', title: 'The Woods Trapped at the Edge of Midnight' }
  - { caption: 'Strange Factories', url: 'strange-factories', src: 'assets/jh_projects_02.jpg', title: 'Strange Factories' }
  - { caption: 'Virulent Experience', url: 'virulent-experience', title: 'Virulent Experience' }
  - { caption: 'Ward 12 - The Basement', url: 'ward-12-the-basement', title: 'Ward Twelve: The Basement' }
  - { caption: 'Cirxus', url: 'cirxus', title: 'Cirxus'}
  - { caption: 'Dead Language', url: 'dead-language', title: 'Dead Language' }
listItem:
  - { name: 'The Woods Trapped at the Edge of Midnight (2015)', category: 'chrono', group: 'recent' }
  - { name: 'Strange Factories (2013)', category: 'chrono', group: 'recent' }
  - { name: 'Virulent Experience (2012)', category: 'chrono', group: 'recent' }
  - { name: 'The Basement - Ward 12 (2010)', category: 'chrono', group: 'recent' }
  - { name: 'A Red Threatening Sky (2010)', category: 'chrono', group: 'recent' }
  - { name: 'The Abattoir Pages (2009)', category: 'chrono', group: 'early' }
  - { name: 'Cirxus (2009)', category: 'chrono', group: 'early' }
  - { name: 'Terra: Extremitas (2008)', category: 'chrono', group: 'early' }
  - { name: 'Dead Language (2007)', category: 'chrono', group: 'early' }
  - { name: 'Desecration (2007)', category: 'chrono', group: 'early' }
  - { name: 'Weaponized Art 3.0 (2007)', ucategory: 'chrono', group: 'early' }
  - { name: 'Terra-Incognita (2007)', category: 'chrono', group: 'early' }
  - { name: 'Ghost Redux (2007)', category: 'chrono', group: 'early' }
  - { name: 'Dark Nights of the Soul: Cycle VI - Carousel (2006)', category: 'chrono', group: 'early' }
  - { name: 'Dark Nights of the Soul: Cycle V - Home (2006)', category: 'chrono', group: 'early' }
  - { name: 'Weaponized Art 2.0 (2006)', category: 'chrono', group: 'early' }
  - { name: 'Weaponized Art 1.0 (2006)', category: 'chrono', group: 'early' }
  - { name: 'Dark Nights of the Soul: Cycle IV - Congealed (2006)', category: 'chrono', group: 'early' }
  - { name: 'Dark Nights of the Soul: Cycle III - Emergence (2006)', category: 'chrono', group: 'early' }
  - { name: 'Dark Nights of the Soul: Cycle II - The Fluid Flesh (2006)', category: 'chrono', group: 'early' }
  - { name: 'Dark Nights of the Soul: Cycle I - The Wyrm Shroud (2005)', category: 'chrono', group: 'early' }
  - { name: 'Dr. Bleach (2005)', category: 'chrono', group: 'early' }
  - { name: 'Ruined Steel (2004)', category: 'chrono', group: 'early' }
  - { name: 'Escape From RS1 (2004)', category: 'chrono', group: 'early' }
  - { name: 'Past the Line, Between the Land (2003)', category: 'chrono', group: 'early' }
  - { name: 'The Singularity (2002)', category: 'chrono', group: 'early' }
  - { name: 'Revelations: Fear the Mind (1994)', category: 'chrono', group: 'early' }
  - { name: 'Enochian: Language of Angels (1991)', category: 'chrono', group: 'early' }

---

{{> head}}
<div class="banner" role="banner">
	{{> header}}
	{{> slideshow}}
</div>
<div role="main">
	<section class="constrain">
		<h3 id="projectHeader" class="header-section">Featured <strong>Projects</strong></h3>
		<div class="tile-row">
		{{#each tile}}
			{{>tile}}
		{{/each}}
		</div>
	</section>	
	<section class="about">
		<figure class="about-image"></figure>
    	<div class="about-bio">
    		<h3 class="header-section">About <strong>John Harrigan</strong></h3>
    		<p>John Harrigan is writer, director, artist, and the founder of <a href="http://www.foolishpeople.com">FoolishPeople</a>.</p>
    		<p>Harrigan's work centers on the creation of film, ritual theatre, and installation art. Its aim is to raise a numimous experience within the witness. He has performed at the ICA, the Horse Hospital, Arcola Theatre, and throughout London and the UK. His work has been presented internationally in the United States and Netherlands.</p>
    		<div class="about-callout">
				<h3 class="header-section">Artist's <strong>Statement</strong></h3>
				<p>Turducken cupim spare ribs venison hamburger porchetta tongue meatball tenderloin short loin. Kielbasa jerky pork belly pancetta, ball tip cupim tail pork. Ground round turkey shankle swine. Spare ribs pastrami brisket short ribs fatback.</p>
    		</div>
    	</div>
	</section>
	<section class="constrain">
		<div class="chronology-header">
			<h3 class="header-section">
				<strong>Chronology</strong>
			</h3>
			<a id="showAll" class="toggle-trigger" href="javascript:void(0)" role="button" aria-expanded="false" aria-pressed="false">
				<span class="moreText">Show more works</span>
				<span class="lessText">Show less works</span>

			</a>
		</div>
		<div class="chronology box">
			<section class="chronology-list">
				<h4 class="header-section">
					<strong>Recent Works</strong>
				</h4>
				<ul class="no-bullet">
				{{#each listItem}}
					{{#is group 'recent'}}
						{{>list_item}}
					{{/is}}
				{{/each}}
				</ul>
			</section>
			<section id="earlierWorks" class="chronology-list toggle-pane" aria-hidden="true">
				<h4 class="header-section">
					<strong>Earlier Works</strong>
				</h4>
				<ul class="no-bullet">
				{{#each listItem}}
					 {{#is group 'early'}}
						{{>list_item}}
					{{/is}}
				{{/each}}
				</ul>
			</section>
		</div>
	</section>
	{{> footer}}
 