---
title: 'Index title'
header: 'John'
headerStrong: 'Harrigan'
social:
  - url: 'https://www.facebook.com/asmadai'
    title: 'Facebook'
    id: 'icon-facebook'
  - url: 'https://twitter.com/johnharrigan'
    title: 'Twitter'
    id: 'icon-twitter'
  - url: 'https://vimeo.com/johnharrigan'
    title: 'Vimeo'
    id: 'icon-vimeo'
  - url: 'http://www.harrigan.co/'
    title: 'Tumblr'
    id: 'icon-tumblr'
  - url: 'https://uk.linkedin.com/in/johnlharrigan'
    title: 'LinkedIn'
    id: 'icon-linkedin'
  - url: 'https://plus.google.com/+JohnHarrigan/posts'
    title: 'Google+'
    id: 'icon-googleplus'
  - url: 'https://instagram.com/johnharrigan/?hl=en'
    title: 'Instagram'
    id: 'icon-instagram'
affiliate:
  - url: '/'
    title: 'Contact'
  - url: 'http://www.foolishpeople.com/'
    title: 'FoolishPeople'
  - url: 'http://www.strangefactories.com/'
    title: 'Strange Factories'
  - url: '/'
    title: 'Resume'
project:
  - url: '/'
    title: 'Project'
    src: 'https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324267_678616528909224_1895882165_n.jpg'
    alt: 'alt'
  - url: '/'
    title: 'Project'
    src: 'https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324267_678616528909224_1895882165_n.jpg'
    alt: 'alt'
  - url: '/'
    title: 'Project'
    src: 'https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324267_678616528909224_1895882165_n.jpg'
    alt: 'alt'
  - url: '/'
    title: 'Project'
    src: 'https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324267_678616528909224_1895882165_n.jpg'
    alt: 'alt'
  - url: '/'
    title: 'Project'
    src: 'https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324267_678616528909224_1895882165_n.jpg'
  - url: '/'
    title: 'Project'
    src: 'https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324267_678616528909224_1895882165_n.jpg'
    alt: 'alt'
---

{{> head}}
<div role="banner">
	<header>
		<h1 class="header">{{header}} <strong>{{headerStrong}}</strong></h1>
		<h2>by-line</h2>
	</header>
	{{> nav_social}}
	{{> hero}}
	{{> nav_affiliates}}
</div>
<div role="main">
	{{> project}}
	<p>I am the home page</p>
	{{> footer}}
 