---
title: 'Index title'
header: 'John'
headerStrong: 'Harrigan'
---

{{> head}}
	<header>
		<h1 class="header">{{header}} <strong>{{headerStrong}}</strong></h1>
	</header>
	{{> hero}}
	<p>I am the home page</p>
{{> footer}}