---

title: 'John Harrigan'
header: 'John <strong>Harrigan</strong>'
slide:
  - { filename: 'jh_hero_08.jpg', alt: 'alt one', caption: 'truth' }
  - { filename: 'jh_hero_09.jpg', alt: 'alt two', caption: 'magick' }
  - { filename: 'jh_hero_03.jpg', alt: 'alt three', caption: 'art' }
  - { filename: 'jh_hero_05.jpg', alt: 'alt four', caption: 'journey' }
  - { filename: 'jh_hero_01.jpg', alt: 'alt five', caption: 'ritual' }
  - { filename: 'jh_hero_04.jpg', alt: 'alt six', caption: 'solve et coagula' }
social:
  - { url: 'https://www.facebook.com/asmadai', title: 'Facebook', id: 'icon-facebook' }
  - { url: 'https://twitter.com/johnharrigan', title: 'Twitter', id: 'icon-twitter' }
  - { url: 'https://vimeo.com/johnharrigan', title: 'Vimeo', id: 'icon-vimeo' }
  - { url: 'http://www.harrigan.co/', title: 'Tumblr', id: 'icon-tumblr' }
  - { url: 'https://uk.linkedin.com/in/johnlharrigan', title: 'LinkedIn', id: 'icon-linkedin' }
  - { url: 'https://plus.google.com/+JohnHarrigan/posts', title: 'Google+', id: 'icon-googleplus' }
  - { url: 'https://instagram.com/johnharrigan/?hl=en', title: 'Instagram', id: 'icon-instagram' }
tile:
  - { title: 'Strange Factories', url: '/', src: 'https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324267_678616528909224_1895882165_n.jpg', alt: 'alt' }
  - { title: 'Project', url: '/', src: 'https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324267_678616528909224_1895882165_n.jpg', alt: 'alt' }
  - { title: 'Project', url: '/', src: 'https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324267_678616528909224_1895882165_n.jpg', alt: 'alt' }
  - { title: 'Project', url: '/', src: 'https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324267_678616528909224_1895882165_n.jpg', alt: 'alt' }
  - { title: 'Project', url: '/', src: 'https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324267_678616528909224_1895882165_n.jpg', alt: 'alt' }
  - { title: 'Project', url: '/', src: 'https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11324267_678616528909224_1895882165_n.jpg', alt: 'alt' }
listItem:
  - { name: 'Contact', url: '/', category: 'affiliate' }
  - { name: 'R&eacute;sum&eacute', url: '/', category: 'affiliate' }
  - { name: 'FoolishPeople', url: 'http://www.foolishpeople.com/', category: 'affiliate' }
  - { name: 'Strange Factories', url: 'http://www.strangefactories.com/', category: 'affiliate' }
  - { name: 'The Woods Trapped at the Edge of Midnight (2015)', url: 'http://www.wildernessfestival.com/programme/foolish-people/', category: 'chrono', group: 'recent' }
  - { name: 'Strange Factories (2013)', url: 'http://www.strangefactories.com/', category: 'chrono', group: 'recent' }
  - { name: 'Virulent Experience (2012)', category: 'chrono', group: 'recent' }
  - { name: 'The Basement - Ward 12 (2010)', category: 'chrono', group: 'recent' }
  - { name: 'A Red Threatening Sky (2010)', category: 'chrono', group: 'recent' }
  - { name: 'The Abattoir Pages (2009)', category: 'chrono', group: 'early' }
  - { name: 'Cirxus (2009)', category: 'chrono', group: 'early' }
  - { name: 'Terra: Extremitas (2008)', category: 'chrono', group: 'early' }
  - { name: 'Dead Language (2007)', category: 'chrono', group: 'early' }
  - { name: 'Desecration (2007)', category: 'chrono', group: 'early' }
  - { name: 'Weaponized Art 3.0 (2007)', ucategory: 'chrono', group: 'early' }
  - { name: 'Terra-Incognita (2007)', category: 'chrono', group: 'early' }
  - { name: 'Ghost Redux (2007)', category: 'chrono', group: 'early' }
  - { name: 'Dark Nights of the Soul: Cycle VI - Carousel (2006)', category: 'chrono', group: 'early' }
  - { name: 'Dark Nights of the Soul: Cycle V - Home (2006)', category: 'chrono', group: 'early' }
  - { name: 'Weaponized Art 2.0 (2006)', category: 'chrono', group: 'early' }
  - { name: 'Weaponized Art 1.0 (2006)', category: 'chrono', group: 'early' }
  - { name: 'Dark Nights of the Soul: Cycle IV - Congealed (2006)', category: 'chrono', group: 'early' }
  - { name: 'Dark Nights of the Soul: Cycle III - Emergence (2006)', category: 'chrono', group: 'early' }
  - { name: 'Dark Nights of the Soul: Cycle II - The Fluid Flesh (2006)', category: 'chrono', group: 'early' }
  - { name: 'Dark Nights of the Soul: Cycle I - The Wyrm Shroud (2005)', category: 'chrono', group: 'early' }
  - { name: 'Dr. Bleach (2005)', category: 'chrono', group: 'early' }
  - { name: 'Ruined Steel (2004)', category: 'chrono', group: 'early' }
  - { name: 'Escape From RS1 (2004)', category: 'chrono', group: 'early' }
  - { name: 'Past the Line, Between the Land (2003)', category: 'chrono', group: 'early' }
  - { name: 'The Singularity (2002)', category: 'chrono', group: 'early' }
  - { name: 'Revelations: Fear the Mind (1994)', category: 'chrono', group: 'early' }
  - { name: 'Enochian: Language of Angels (1991)', category: 'chrono', group: 'early' }

---

{{> head}}
<div class="banner" role="banner">
	<div class="header-page page-gutter">
		<header>
			<h1 class="header-section">{{{header}}}</h1>
			<h2>Art on the inside, blood on the outside.</h2>
		</header>
		<nav role="navigation">
			<ul class="no-bullet">
			{{#each listItem}}
				{{#is category 'affiliate'}}
					{{>list_item}}
				{{/is}}
			{{/each}}
			</ul>
		</nav>
	</div>
	{{> slideshow}}
</div>
<div role="main">
	<section class="constrain">
		<h3 class="header-section">Featured <strong>Projects</strong></h3>
		<div class="tile-row">
		{{!-- to do: add srcset or move to bg image --}}
		{{#each tile}}
			{{>tile}}
		{{/each}}
		</div>
	</section>	
	<section class="about">
		<figure class="about-image">
			{{!-- to do: add srcset or move to bg image --}}
        	<img src="assets/jh_bio_bw.jpg" alt="alt text"/>
    	</figure>
    	<div class="about-bio">
    		<h3 class="header-section">About <strong>John Harrigan</strong></h3>
    		<p>Bacon ipsum dolor amet andouille doner pork, brisket corned beef strip steak pork loin t-bone meatloaf shoulder. Porchetta pastrami meatloaf t-bone. Ball tip jowl ribeye meatball pig, picanha alcatra cupim ham hock porchetta pork chop flank leberkas fatback.</p>
    		<div class="about-callout">
				<h3 class="header-section">Artist's <strong>Statement</strong></h3>
				<p>Turducken cupim spare ribs venison hamburger porchetta tongue meatball tenderloin short loin. Kielbasa jerky pork belly pancetta, ball tip cupim tail pork. Ground round turkey shankle swine. Spare ribs pastrami brisket short ribs fatback.</p>
    		</div>
    	</div>
	</section>
	<section class="constrain">
		<div class="chronology-header">
			<h3 class="header-section">
				<strong>Chronology</strong>
			</h3>
			<a id="showAll" href="#">Show more works</a>
		</div>
		<div class="chronology">
			<section class="chronology-list">
				<h4>Recent Works</h4>
				<ul class="no-bullet">
				{{#each listItem}}
					{{#is group 'recent'}}
						{{>list_item}}
					{{/is}}
				{{/each}}
				</ul>
			</section>
			<section id="earlierWorks" class="chronology-list hide">
				<h4>Earlier Works</h4>
				<ul class="no-bullet">
				{{#each listItem}}
					 {{#is group 'early'}}
						{{>list_item}}
					{{/is}}
				{{/each}}
				</ul>
			</section>
		</div>
	</section>
	{{> footer}}
 