---

pageTitle: 'John Harrigan: Cirxus'
pageUrl: 'http://www.johnharrigan.com/cirxus'
pageDesc: 'Cirxus is an immersive theatre event written and directed by John Harrigan and presented by FoolishPeople. It premiered at the Arcola Theatre London.'
project: '<strong>Cirxus</strong>'
hero: { small: 'jh_projects_05_s.jpg', medium: 'jh_projects_05_m.jpg', large: 'jh_projects_05_l.jpg', alt: 'Photo of a Cirxus performance' }
credit: 'Written and directed by John Harrigan. Presented by <a href="http://www.foolishpeople.com/">FoolishPeople</a>'
year: '2009'
pageContent: '<p>1957 &mdash; Seascale, the North of England. Cirxus; an old English circus lost in the shadows of the smoke stacks of Calder Hall, the world’s first commercial nuclear power station. Step into the world of Cirxus, explore its sideshows and meet extraordinary characters from the past and future. Athalia the ballerina waits in the ring for Loudon the clown to return with directions to the Black Pool, the mythic site of the Home Sweet Home, the final show of the season. Join her as she begins a bizarre and wondrous search for Loudon through the irradiated secrets of Cirxus, where she must face the macabre atomic menagerie, haunted by circus animals and navigate her way through a maze of strange, hallucinogenic sideshows to the other side of time.</p><p>Immerse yourself in a world where theatric arcana and atomic fallout irradiate the sawdust arenas of our inner worlds.</p>'
video: { videoUrl: 'https://www.youtube.com/embed/m-Xihh8RjIg', title: 'Cirxus Book Trailer' }

---