---

project: '<strong>Cirxus</strong>'
title: 'John Harrigan: Cirxus'
hero: { small: 'jh_projects_05_s.jpg', medium: 'jh_projects_05_m.jpg', large: 'jh_projects_05_l.jpg', alt: 'Photo of a Cirxus performance' }
credit: 'Written and directed by John Harrigan. Presented by <a href="http://www.foolishpeople.com/">FoolishPeople</a>'
year: '2009'
pageContent: '<p>Cirxus was a promenade performance in Arcola&apos;s new industrial space, Studio K. Cirxus is based on fact: the German Bremen University confirmed that radioactive contamination by Americium-241 found in some soil samples taken by Greenpeace 11.5 km south of Sellafield, were 400 times higher than those taken 11 km from Chernobyl. 51 years on, the villagers of Seascale still live with the ramifications of the accident at Pile 1 of the Windscale Works Atomic Energy Factory.</p>'
video: { videoUrl: 'https://www.youtube.com/embed/m-Xihh8RjIg', title: 'Cirxus Book Trailer' }

---