---

pageTitle: 'John Harrigan: Dead Language'
pageUrl: 'http://www.johnharrigan.com/dead-language'
pageDesc: 'Dead Language premiered in the UK at the Institute of Contemporary Arts. Written and directed by John Harrigan and presented by FoolishPeople.'
project: 'Dead <strong>Language</strong>'
hero: { small: 'jh_projects_06_s.jpg', medium: 'jh_projects_06_m.jpg', large: 'jh_projects_06_l.jpg', alt: 'Poster for the Dead Language project' }
credit: 'Written and directed by John Harrigan'
year: '2007'
pageContent: '<p>Platoons of the latest replicas of Banksy roam the landscape, led by General Clone Banksy, a talentless nobody who once found a sample of Banksy DNA on an empty spray can. A rowdy gang of Tracey Emins wrestle half a dozen dazed Andy Warhols to the ground. It is the future and all forms of art are free, perfect replicas exist of every masterpiece ever created, copyright and ownership are meaningless, ideas are cheap and replicated ad infinitum. Artists have realised that their own identity is the only thing they can own or control, so fans become clones of artists in order to spread their art/identity. One final piece of uncorrupted art remains, yet to be copied: a living story told by Neonate Muses.</p><p>Come and experience the living story and see how the world died with FoolishPeople&apos;s immersive, evolving performance in the ICA theatre.</p>'

---