---

project: 'Strange <strong>Factories</strong>'
title: 'John Harrigan | Strange Factories'
hero: { small: 'jh_projects_02_s.jpg', medium: 'jh_projects_02_m.jpg', large: 'jh_projects_02_l.jpg', alt: 'Film poster for the Strange Factories project', caption: 'Film poster for the Strange Factories project' }
credit: 'Written and directed by John Harrigan'
year: '2013'
pageContent: '<p>Victor is a writer, possessed by a terrifying story, hunting for refugee performers of a theatre destroyed in a mysterious fire. Drawn to a remote settlement founded by the mysterious Stronheim, he finds his friends under the wing of an aristocratic noble and her childlike ward. A dangerous pact is made between Victor and Stronheim: The destroyed theatre will be reconstructed, and in return, Victor must complete his story — no matter the cost.</p><p>Experience the madness and terror of haunted cinema, as you witness the film unravel inside Stronheim&apos;s factory and its characters come to life around you. Strange Factories draws on ancient theatrical traditions and mystical exploration, to wrench at the heart of what it means to be human. Will you allow it to show you the wonder behind the moving pictures — the dreams of violent imagination?</p><p>Not everyone can survive the violence of Creation.</p><p>Strange Factories is the first feature film by FoolishPeople. It was released on October 26, 2013. Strange Factories is available for purchase at <a href=\"https&#58;//strangefactories.vhx.tv/buy">strangefactories.vhx.tv/buy</a>.</p>'

---