---

pageTitle: 'John Harrigan: The Woods Trapped at the Edge of Midnight'
pageUrl: 'http://www.johnharrigan.com/the-woods-trapped-at-the-edge-of-midnight'
pageDesc: 'The Woods Trapped at the Edge of Midnight is an immersive theatre performance at the 2015 Wilderness Festival. Directed by John Harrigan.'
project: 'The Woods Trapped at the Edge of Midnight'
hero: { small: 'jh_projects_01_s.jpg', medium: 'jh_projects_01_m.jpg', large: 'jh_projects_01_l.jpg', alt: 'Wildnerness Festival poster featuring The Woods Trapped at the Edge of Midnight', heroUrl: 'http://www.wildernessfestival.com/programme/foolish-people/' }
credit: 'Written and Directed by John Harrigan'
year: '2015'
pageContent: '<p>&apos;The Woods Trapped at the Edge of Midnight&apos; headlined the theatre and performance line up at the 2015 Wilderness Festival.</p><p>Within Cornbury Park is a secret space. A camp inhabited by gods, spirits and monsters; a sacred site that exists at the edge of midnight. Those lucky enough to enter are changed forever by what they experience.</p><p>Every imaginable creature born of myth, fable and fairytale has been forced to retreat to Camp Midnight. In the very near future, this wilderness will be all that remains. One last stand, one final ritual. In Hope, a new story waits to be born. A story filled with power, love and anger, manifested as part of an extraordinary gathering. Creatures of myth and fairytale find strength in one another by accepting their place as fallen dreams. Only you can help change the fate of the last wilderness before midnight arrives.</p><p>Tick, tock, tick tock. Be you spirit or monster. God or mortal, it is time to stand with us, side by side, shoulder to shoulder. We must face midnight’s secrets together and give our story life.</p><div class="box box-medium"><p>"Immersive theatre at its best." &mdash; Sarah Stewart, Londonist</p><p>"Confusing and exhilarating in equal measure, the most intense theatrical event I&apos;ve attended this year!" &mdash; Londoneer</p><p>"A truly unique production. By turns darkly comic, surreal, horrific, genuinely thought-provoking and certainly not for the faint of heart." &mdash; Oll Lewis, Fortean Times</p></div><p><a href="http://www.wildernessfestival.com/journal/foolish-people/">Wilderness Festival interview with John Harrigan</a></p>'

---