---

pageTitle: 'John Harrigan: Virulent Experience'
pageUrl: 'http://www.johnharrigan.com/virulent-experience'
pageDesc: 'Virulent Experience is an immersive theatre event and art show that was commissioned by The Conway Hall ethical society. Written and directed by John Harrigan.'
project: 'Virulent <strong>Experience</strong>'
hero: { small: 'jh_projects_03_s.jpg', medium: 'jh_projects_03_m.jpg', large: 'jh_projects_03_l.jpg', alt: 'Promotional poster for Virulent Experience' }
credit: 'Written and directed by John Harrigan'
year: '2012'
pageContent: '<p>Then: London, 2012: CCTV on every corner, missile batteries on the roof of council blocks for national security during the Olympiad. Every moment of your life logged and regulated by governments and corporations trying to sell you things through your smart phone and browser while people you haven’t seen in years can follow your life moment by moment online.<p><p>Now: London, 2040: The Ministry of Information&apos;s Emotional Experience Act is in force. In an effort to stop the nation tearing itself apart, the government has instituted ENGLAND REBORN — for your Safety, Security & Sanity. Thanks to the Sure Heart implant technology gifted to newborn citizens, all disruptive, antisocial and negative emotions and rogue experiences are now prohibited, isolated and catalogued within the Virulent Museum of Human Experience via real time analysis of your lives.</p><p>No longer do the self destructive impulses of the nation manifest in the phenomenon known as Virulent Novelty. Always connected, never alone — watched over by the ubiquitous BLAKE.</p><p>Truly it is a Green and Pleasant Land.</p><p>On the eve of the London 2040 Olympics, FoolishPeople invite you to enter and explore the Museum in an immersive production combining theatre and art which highlights technology&apos;s impact on the mind, imagination and free will of human beings.</p><p>Questioning the ethics of regulation, experimentation and morality, Virulent Experience imagines a future disturbingly familiar. Expose your mind, body and heart to a haunted archive of forbidden emotions.</p><p>The Age of Emotional Prohibition has begun.</p><p><a href="assets/FoolishPeople_Virulent_Experience_Credits.pdf">View the full Virulent Experience Credits (PDF file)</a></p>'

---