---

pageTitle: 'John Harrigan: Ward 12 - The Basement'
pageUrl: 'http://www.johnharrigan.com/ward-12-the-basement'
pageDesc: 'The Basement - Ward 12 was created with Secret Cinema for the November 2010 presentation of One Flew Over the Cuckoo&apos;s Nest. Written and directed by John Harrigan.'
project: 'Ward 12 - <strong>The Basement</strong>'
hero: { small: 'jh_projects_04_s.jpg', medium: 'jh_projects_04_m.jpg', large: 'jh_projects_04_l.jpg', alt: 'Photo from a Ward Twelve, the Basement performance' }
credit: 'Written and directed by John Harrigan'
year: '2012'
pageContent: '<p>The Basement - Ward 12 was created in partnership with Secret Cinema for the November 2010 presentation of Milos Forman&apos;s One Flew Over the Cuckoo&apos;s Nest.</p><p>Ward 12 explored the background and history of author Ken Kesey&apos;s participation in CIA MKULTRA Mind Control experiments conducted at Stanford University on the use of psychoactive drugs such as LSD and how this in turn influenced the themes of institutionalization and mind control explored in the book and film.</p><p>Ken Kesey&apos;s reported voluntary participation in the MKULTRA program 1959, his subsequent experimentation with drugs and his work as a night orderly at an asylum provided Kesey with the inspiration to write One Flew Over the Cuckoo&apos;s Nest. These first steps led to the important role he played in the sixties counter culture movement. Ken Kesey became one of the main proponents of sixties drug culture, the hippie movement and an enthusiastic supporter of its aims to instigate an alternative world view.</p><p>Participants who entered Ward 12 at Secret Cinema were encouraged to take an active role in learning the truth of their own insanity. Were they part of a mythic MKULTRA test, or had they joined a family of patients who had fallen through the cracks of the system seeking escape via the basement beneath the Oregon State Hospital?</p><p><a href="http://www.foolishpeople.com/">FoolishPeople</a>&apos;s The Basement responded in real time to the expectations of the audience who were seeking to break the system. Unexpectedly, they found themselves in a world inhabited by archetypes and characters who may or may not be figments of the imagination. Or was it a psychoactive side effect and symptom caused by long term treatment with a cocktail of powerful antipsychotic medications?</p>'
video: { videoUrl: 'https://www.youtube.com/embed/-nHZAZZqOqM', title: 'Secret Cinema Presents One Flew Over the Cuckoo&apos;s Nest at Old Princess Louise Hospital' }

---